.ourTeam {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    background-image: url("../../images/ourTeam/fon.jpg");
    height: 666px;
}

.label {
    font-family: Amsdam, serif;
    font-size: 20px;
    color: #3e3d3d;
    margin-top: 71px;
}

.divider {
    margin-top: 27px;
    margin-bottom: 37px;
}

.ourTeamText {
    font-family: "Crimson Text";
    font-size: 14px;
    color: #3e3d3d;
    margin: 0 306px 56px 306px;
}

.row {
    display: flex;
}

.cell {
    position: relative;
}

.showInfo:hover .info{
    display: block;
}

.info {
    display: none;
    position: absolute;
    top: 9px;
    left: 7px;
    width: 256px;
    height: 321px;
    opacity: 0.81;
    background-color: #f6f6f6;
}

.shortBio {
    width: 146px;
    margin-top: 210px;
    margin-left: 19px;
}

.specialty {
    margin: 8px 0 9px 0;
    font-family: 'Crimson Text';
    font-size: 14px;
    font-style: italic;
    color: #3e3d3d;
}

.fio {
    font-family: Montserrat;
    font-size: 13px;
    line-height: 18px;
    color: #3e3d3d;
    margin-block-start: 0;
    margin-block-end: 0;
}

.socialWebs {
    margin: 18px 0 0 2px;
}