*{
    margin: 0;
    padding: 0;
}
.secondSection {
    width: 1600px;

}

.alert {
    position: fixed;
    left: 41%;
    top: 50%;
    display: none;
    z-index:99999999;
    width: 350px;
    height: 60px;
    background-color: #757575;
    border-radius: 10px;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    font-family: cursive;
    font-style: italic;
    color: #cfcfcf;
    border: 3px solid #3e3d3d;
}